# pip packages required to run module

argcomplete==1.9.4  # for argparse auto-completion
argparse==1.2.1  # cli argument parser
paramiko==2.4.2  # SSH client
termcolor==1.1.0  # to print to cli in color
